*{
	margin:0;
	padding:0;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

#main{
    width: 100%;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

/*Header*/
.header{
    width: 100%;
    height: 20%;
    background-color: #BE0000;
}
/*End of header*/

/*-------------------------
	The menu
--------------------------*/
.midsection{
    background-image: url('../images/middleimg.png');
    background-repeat: no-repeat;
    background-color: blue;
    width: 100%;
    height: 300px;
    margin-top: -47px;
}
nav{
	display:inline-block;
	margin:0px auto 45px;
	background-color:#2A2E33;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
    width: 100%;
}
nav div{
    float: right;
}

nav a{
	display:inline-block;
	padding: 20px 35px;
	color:#fff !important;
	font-size:13px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;
    
	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
    background-color: #B60612;
    width: 120px;    
}

nav.signup .signup,
nav.login .login,
nav.help .help,
nav.contact .contact{
	background-color:#e35885;
}

p{
	font-size:22px;
	font-weight:bold;
	color:#7d9098;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#c4d7e0;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}

.innermenu nav{
    width: 50%;
    height: 12%;
    margin-top: -38px !Important;
}

.innermenu nav a{
    padding: 30px 20px 30px 20px;
    display: inline-block;
}
.innermenu nav a:last-child{
    background-color: #2A2E33;
}
.innermenu nav input{
    height: 35px;
}

.footer{
    width: 100%;
    height: 50px;
    margin-top: 200px;
    background-color: #2A2E33;
    color: #fff;
    font-weight: bold;
}

.mid{
    background-color: #7d9098;
    font-weight: bold;
    color: #ff006e;
    height: 70px;
}

.listitems li{
    display: inline;
}