<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
  <script type="text/javascript" src="http://localhost:8080/DFCClient/resources/bower_components/angular/angular.js"></script>
   <script type="text/javascript" src="http://localhost:8080/DFCClient/resources/scripts/controllers/registerCtrl.js"></script>  
</head>
<body data-ng-app="registerApp">
     
  <div data-ng-controller="registerController">
     First Name : <input data-ng-model="obj.firstName"> &nbsp;&nbsp;{{obj.firstName}}
     Last Name : <input data-ng-model="obj.lastName"><br><br>
     Email Id : <input data-ng-model="obj.emailId">&nbsp;&nbsp;&nbsp;
     Mobile No :<input data-ng-model="obj.mobileNo"><br><br>
     Password : <input data-ng-model="obj.password"> &nbsp;&nbsp;
     Confirm Password : <input data-ng-model="obj.cpassword"><br><br>
     &nbsp;&nbsp;&nbsp;&nbsp;
    <button data-ng-click="saveRegister()">Register</button>
  </div>
</body>
</html>