<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script>
var demoApp=angular.module("testdemoApp",[]);
demoApp.controller("testdemoController",function($scope,$http){
	//alert("welcome"+$scope.username)
	$scope.putData=function(){
		alert("in function"+$scope.username)
		$http({
		method:'GET',
		url:'http://localhost:8080/DFCServices/rest/login/test2',
		data:$scope.ob
		}).
		success(function(data,status,headers,config){
			alert("success" +data);
			$scope.username=data
		}).
		error(function(data,status,headers,config){
			alert("fail")
		});
	};
});

</script>
</head>
<body data-ng-app="testdemoApp">
<div data-ng-controller="testdemoController">

<input data-ng-model="ob.username">
<input data-ng-model="ob.password">

<button data-ng-click="putData()">submit data</button>


</div>
fvfgfbd
</body>
</html>