<div class="mid">This is the LOGIN section</div>
<b>Data fetched from JSON</b>

<ul>
    <li ng-repeat="elements in items">{{elements}}</li>
</ul>

<ul class="listitems">
    <li ng-repeat="friend in friends">
        <img ng-src="{{friend.image}}" alt="'{{friend.description}}'"/>
    </li>
</ul>


<ul>
    <li ng-repeat="friend in friends">
        My chef name is {{friend.name}} and age is {{friend.age}}
    </li>
</ul>
