<html>
<head>
<script src="angular.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="styles/StyleSheet.css" />
</head>
<body>
<div class="header"></div>
    
<div id="main" ng-app>
    
	<!-- The navigation menu will get the value of the "active" variable as a class.
		 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

	<nav class="{{active}}" ng-click="$event.preventDefault()">

		<!-- When a link in the menu is clicked, we set the active variable -->
        <div>
		<a href="#/signup" class="signup" >Sign-up</a>
		<a href="#/login" class="login" >Login</a>
		<a ui-sref="help" class="help" >Help</a>
		<a href="#/contact" class="contact" >Contact Us</a>
        <a href="#" class="" >Be a Chef!</a>
        </div>
	</nav>
    <div class="midsection"></div>
	<!-- ng-show will show an element if the value in the quotes is truthful,
		 while ng-hide does the opposite. Because the active variable is not set
		 initially, this will cause the first paragraph to be visible. -->

	<!--<p ng-hide="active">Please click a menu item</p>
	<p ng-show="active">You chose <b>{{active}}</b></p>-->
</div>
</body>
</html>