<!--<h1>{{title}}</h1>
<div class="mid">This is the SIGNUP section</div>-->

<!--<ul>
    <li ng-repeat="elements in items">{{elements}}</li>
</ul>-->
<h1>Healthy take away from Chef</h1>
<b>Data fetched from factory</b>
<ul>
    <li ng-repeat="friend in friends">
        
        My chef name is {{friend.name}} and his age is {{friend.age}}
        
    <!--<input type="text" ng-model="friend.name"/>
        <button ng-click="friends.splice($index,1)" class="btn btn-danger">-</button>-->
    </li>
</ul>



<!--<input type="text" ng-model="title">
<input type="text" ng-model="value">{{value}}
<select ng-model="selectedValue" ng-options="value for value in items"></select>
<br/>
<button ng-click="save()">Save</button>-->
